<div class="row">
    <div class="col-sm-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1" style="border-radius: 50px 0 0 50px;    border-right: none;background-color:#fff ">
                    <i class="fa fa-xs fa-search"></i>
                </span>
            </div>
            <input type="search" class="form-control" style="border-right: none;border-left: none;"
                   ng-model="$ctrl.expression" placeholder="Search" ng-keyup="$ctrl.search()">
            <span class="input-group-text" id="basic-addon2" style="border-radius: 0 50px 50px 0;    border-left: none;background-color:#fff ">
                    <i class="fa fa-xs fa-times" style="cursor:pointer;" ng-click="$ctrl.clear()"></i>
                </span>
        </div>
    </div>
    <div class="col-sm-2 offset-sm-7">
        <div class="row">
            <a style="cursor: pointer" class="dropdown-toggle nav-link col-9" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                User Name
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a href="" style="color: #000;text-decoration: none">An Option</a></li>
                <li role="separator" class="dropdown-divider"></li>
                <li class="dropdown-item">
                    <a style="cursor: pointer">Other Option</a>
                </li>
            </ul>
            <i class="fa fa-2x fa-user col-3"></i>
        </div>
    </div>
</div>